doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/global.css")
    link(rel="stylesheet", href="/styles/admin_create.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", crossorigin="anonymous")
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Montserrat|Roboto&display=swap" rel="stylesheet">
    title Radio West Coast

  body
    nav
      button(id="menu_close", onclick="closeMenu()")
        i(class="fas fa-times fa-4x")
      a(href="/news") News
      a(href=href="http://www.radio-south-africa.co.za/player/radio-west-coast-445818", target="_blank") Listen
      a(href="/team") The Team
      a(href="/shows") Shows
      a(href="/sponsors") Sponsors

    button(id="menu_open", onclick="openMenu()")
      i(class="fas fa-bars fa-3x")

    form(action="/admin/uploadImage", method="post", id="uploadForm", enctype="multipart/form-data")
      input(name="_csrf", id="csrf", value= csrfToken, type="hidden")
      input(type="file", name="image")
      button(type="submit") Upload

    form(action="/admin/createArticle", method="post")
      input(name="_csrf", id="csrf", value= csrfToken, type="hidden")
      input(name="id", value= id, type="hidden")
      input(name="image", id="imageBox", placeholder="Image URL", value= image, required)
      input(name="header", placeholder="Header", value= header, required)
      textarea(name="synopsis", placeholder="Synopsis", required) !{synopsis}
      input(name="date", placeholder="Date", value= date, required)
      input(name="visible", type="checkbox")
      p visible
      button(type="submit") Post

    script(src="/scripts/global.js" charset="utf-8")
    script(src="/scripts/admin_create.js" charset="utf-8")
