extends global.pug

block content
  link(rel="stylesheet", href="/styles/news.css")

  div(id="main")
    a(href="/admin/create") Create
    div(id="news_items")
    script(src="/scripts/admin_news.js" charset="utf-8")
