extends global.pug

block content
  link(rel="stylesheet", href="/styles/news.css")

  a(href="/admin/create" id="create_button") Create 
  div(id="main")
    div(id="news_items")
    script(src="/scripts/admin_news.js" charset="utf-8")
