doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/adminUser.css")
    title Radio West Coast

  body
    header
      h1 Admin User
      a(href="/admin/logout") Logout

    div(class="container")
      div(id="img-container")
        img(alt="User Profile Image")
        button Upload
      p Visible
      div(id="toggleSwitch", onclick="toggleSwitch()")
        div
      p Personal Bio
      button Edit

  script(src="/scripts/adminUser.js" charset="utf-8")
