extends global.pug

block content
  link(rel="stylesheet", href="/styles/news.css")

  div(id="main")
    a(href="/admin/create") Create
    div(id="news_items")
      div(class="news_item", id="main_news")
        div(class="news_img")
        h2 News Header
        p Synopsis
        p date
      div(class="news_item")
        div(class="news_img")
        h2 News Header
        p Synopsis
        p date
      div(class="news_item")
        div(class="news_img")
        h2 News Header
        p Synopsis
        p date
      div(class="news_item")
        div(class="news_img")
        h2 News Header
        p Synopsis
        p date
      div(class="news_item")
        div(class="news_img")
        h2 News Header
        p Synopsis
        p date
      div(class="news_item")
        div(class="news_img")
        h2 News Header
        p Synopsis
        p date
      div(class="news_item")
        div(class="news_img")
        h2 News Header
        p Synopsis
        p date
