extends global.pug

block content
  link(rel="stylesheet", href="/styles/admin_create.css")

  div(id="main")
    form(action="/admin/createArticle", method="post")
      input(name="_csrf", value= csrfToken, type="hidden")
      input(name="id", value= id, type="hidden")
      input(name="image", placeholder="Image URL", value= image, required)
      input(name="header", placeholder="Header", value= header, required)
      textarea(name="synopsis", placeholder="Synopsis", required) !{synopsis}
      input(name="date", placeholder="Date", value= date, required)
      button(type="submit") Post
