extends global.pug

block content
  link(rel="stylesheet", href="/styles/sponsors.css")
  div(id="sponsors")
    div(class="sponsor", id="sponsor_aim33")
    div(class="sponsor", id="sponsor_brc")
    div(class="sponsor", id="sponsor_dk_wireless")
    div(class="sponsor", id="sponsor_icasa")
    div(class="sponsor", id="sponsor_net_dynamix")
    div(class="sponsor", id="sponsor_samro")
    div(class="sponsor", id="sponsor_sentech")
    div(class="sponsor", id="sponsor_station_playlist")
