body
  margin: 0
  display: flex
  flex-flow: nowrap row
  height: 100vh
  overflow: hidden

#slider
  position: fixed
  z-index: -1
  width: 100%
  height: 100%
  display: flex
  flex-flow: nowrap row
  .slide
    width: 0
    height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    transition: 0.5s
  #s1
    background-image: url("https://i.imgur.com/1azBnRA.png")
  #s2
    background-image: url("https://i.imgur.com/Ubi6PSk.png")
  #s3
    background-image: url("https://i.imgur.com/Wz9wVww.png")
  #s4
    background-image: url("https://i.imgur.com/FOEKDxo.png")
  #s5
    background-image: url("https://i.imgur.com/95nd2J4.png")
  #s6
    background-image: url("https://i.imgur.com/xWdFp0Y.png")
  #s7
    background-image: url("https://i.imgur.com/j6QxQ63.png")
  #s8
    background-image: url("https://i.imgur.com/3ctV055.png")
  #s9
    background-image: url("https://i.imgur.com/BzEYBoq.png")
  #s10
    background-image: url("https://i.imgur.com/Jlil0FH.png")
  #s11
    background-image: url("https://i.imgur.com/6yZl8rj.png")
  #s12
    background-image: url("https://i.imgur.com/P0POe95.png")
  #s13
    background-image: url("https://i.imgur.com/SSPRCx9.png")
  #s14
    background-image: url("https://i.imgur.com/GtC9SPc.png")
  #s15
    background-image: url("https://i.imgur.com/Lnn3DL5.png")
  #s16
    background-image: url("https://i.imgur.com/uZOxrfT.png")
  #s17
    background-image: url("https://i.imgur.com/HvKCIae.png")
  #s18
    background-image: url("https://i.imgur.com/CmekQk5.png")
  #s19
    background-image: url("https://i.imgur.com/JTJymoc.png")
  #s20
    background-image: url("https://i.imgur.com/3z52WHR.png")
  #s21
    background-image: url("https://i.imgur.com/FMxlp6v.png")

nav
  background-color: #246
  flex-shrink: 0
  width: 0
  height: 100%
  display: flex
  flex-flow: nowrap column
  justify-content: space-around
  transition: 0.5s
  overflow: hidden
  box-shadow: 0.5rem 0 0.2rem 0 #135
  div
    display: flex
    flex-flow: nowrap column
    #listenButton
      display: none
  button
    margin: 0.5rem
    padding: 1rem
    background-color: lightblue
    color: orangered
    border: none
    border-radius: 0.5rem
    font-weight: 900
    cursor: pointer
    &:hover
      transform: translateY(-0.5rem)
      transition: 0.5s
      box-shadow: 0 0.5rem 0.2rem 0 #135
  input
    margin: 0.5rem
    padding: 1rem
    border: none
    border-radius: 0.5rem
    text-align: center
    font-weight: 500
  #socials
    display: flex
    flex-flow: nowrap row
    justify-content: space-around
    a
      color: lightblue

#content
  background-color: #222222AA
  flex-shrink: 0
  width: 100vw
  height: 100%
  display: flex
  flex-flow: nowrap row
  justify-content: space-between
  align-items: center
  #menuToggle
    align-self: flex-start
    margin: 2rem
    button
      background-color: transparent
      color: orangered
      border: none
      cursor: pointer
    #close
      display: none
  h1
    color: orangered
  a
    display: flex
    align-items: center
    text-decoration: none
    color: orangered
    i
      margin: 1rem
  #listenPage
    width: 100%
    height: 100%
    display: flex
    flex-flow: nowrap column
    justify-content: center
    align-items: center
    overflow: hidden
    transition: 0.2s
  #teamPage
    width: 0%
    height: 100%
    display: flex
    flex-flow: wrap row
    justify-content: space-around
    align-items: center
    overflow: hidden
    transition: 0.2s
  #showsPage
    width: 0%
    height: 100%
    display: flex
    flex-flow: wrap row
    justify-content: space-around
    align-items: center
    overflow: hidden
    transition: 0.2s
