body
  background-color: lightblue
  margin: 0
  width: 100vw
  height: 100vh
  overflow: hidden
  display: flex
  flex-flow: nowrap row
  justify-content: center
  align-items: center

h1
  color: orangered
